html {
	background: #BDBDBD;
}

body {
	width: 75%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;	
	background: #E6E6E6;
	color: #424242;
	font-family: arial, san-serif;
	position: relative;
	left: 100px;
	border-left: solid 1px #424242;
	border-right: solid 1px #424242;
}

a { color: #0404B4; }
