body {
	background-image: url('http://inquisitor-sasha.sturmkrieg.ru/fallout-term.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #A9F5BC;
	font-family: Consolas, san-serif, monospace;
	font-style: normal;
	padding: 30px;
}

a { color: #01DF3A; }
